<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <body>
        <nav>
            <ul>
                <li><a href="#">register</a></li>
                <li><a href="#">login</a></li>
                <li><a href="#">post</a></li>
                <li><a href="#">logout</a></li>
            </ul>
        </nav>
        <div id="container">